body {
	background-color: #eee;
}

.categories {
	display: flex;
}

.category {
	flex: 1;
	text-align: center;
}

.category-name {
	font-weight: bold;
	font-size: 2rem;
	height: 7.5rem;
}

.category-name,
.question {
	background: white;
}

.question {
	text-align: center;
	cursor: pointer;
	min-height: 3.33rem;
}

.question.answered {
	cursor: auto;
}
