body {
	background-color: #eee;
}

.categories {
	display: flex;
}

.category {
	flex: 1;
	text-align: center;
}

.category-name {
	font-weight: bold;
	height: 7.5rem;
}

.category-name,
.question {
	background: white;
	font-size: 3rem;
}

.question {
	text-align: center;
	cursor: pointer;
	padding: 2rem 1rem;
}

.question.answered {
	cursor: auto;
}

.modal-body {
	font-size: 4rem;
}

.modal-controls {
	display: flex;
	align-items: space-between;
}

.modal-controls :first-child {
	flex: 1;
}
